<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="//github.com/pilwon/ultimate-seed">ultimate-seed</a>
      <div class="nav-collapse collapse">
        <!-- #nav-left BEGIN -->
        <div id="nav-left">
          <ul class="nav">
            <li><a href="/" target="_self">Backbone</a></li>
            <li><a href="/express" target="_self">Express</a></li>
          </ul>
        </div>
        <!-- #nav-left END -->
        <!-- #nav-right BEGIN -->
        <div id="nav-right" class="pull-right">
          <ul class="nav">
          {{#if user.name.full}}
            <li><a href="/account" target="_self">Logged in as <strong>{{user.name.full}}</strong></a></li>
            <li><a href="/logout" target="_self">Logout</a></li>
          {{else}}
            <li><a href="/login" target="_self">Login</a></li>
            <li><a href="/register" target="_self">Register</a></li>
          {{/if}}
          </ul>
        </div>
        <!-- #nav-right END -->
      </div>
    </div>
  </div>
</div>
