#
# .gitignore
#

/.git.*/
/.gitignore.*
/.tmp/
/client-built/
/config/development.json
/config/heroku.json
/config/production.json
/log/
node_modules/
!/client/js/node_modules
!/client/bb-js/node_modules
!/client/ng-js/node_modules
/client/js/node_modules/bower_components
/client/bb-js/node_modules/bower_components
/client/ng-js/node_modules/bower_components
/npm-debug.log
