/*
 * client/less/app.less
 */

@import 'third-party/pure';
@import 'third-party/flat-ui-colors';
@import 'third-party/variables';
@import 'variables-custom';
@import 'third-party/mixins';
@import 'third-party/tooltip';
@import 'third-party/navs';
@import 'font-awesome/font-awesome';



//
// Base Styles
//

html,
a {
  color: #555;
}

html {
  background: @body-bg;
}

a {
  text-decoration: none;
}

input, select, textarea{
  color: #555;
}

.ng-cloak {
  display: none !important;
}


//
// Pure Extras
//

.pure-button-secondary {
  background: @peter-river;
}


//
// Layout
//

.l-box {
  padding: 1em;
}

.l-center {
  text-align: center;
}


//
// General
//

#header {

}

#footer {
}
