/*
 * client/less/main.less
 */

.fade-in.ng-enter, .fade-in.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940). 5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
}

.fade-in.ng-enter,
.fade-in.ng-leave.ng-leave-active {
  opacity:0;
}

.fade-in.ng-enter.ng-enter-active,
.fade-in.ng-leave {
  opacity:1;
}


#main {
  padding-top: @main-vertical-padding;
  padding-bottom: @main-vertical-padding + 15px;

  .menu {
    .page-header {
      margin: 0 0 15px;

      h3 {
        margin: 5px 5px 0 5px;
      }
    }

    li {
      a {
        color: @text-color;
        padding: 7px 10px;
      }

      &.active {
        a {
          color: white;
        }
      }
    }

    .nav-stacked > li + li {
      margin-top: 5px;
    }

    .well {
      background-color: inherit;
      border-color: lighten(@theme, 70%);
      padding: 10px;
    }
  }

  .content {
    h1,
    h2,
    h3 {
      margin-top: 0;
    }

    .page-header {
      margin: 0 0 15px;
    }
  }
}
