/*
 * client/less/nav.less
 */

#nav {
  background-color: #000;

  .navbar-brand {
    color: #fff;
  }

  .navbar-nav {
    > li > a {
      color: #fff;

      &:hover {
        color: #fff;
        background-color: #282828;
      }
    }

    > .active > a,
    > .active > a:hover {
      color: #fff;
      background-color: #333;
    }
  }

  .navbar-toggle {
    border-color: #000;

    &:hover {
      background-color: #666;
      border-color: #666;
    }
  }
}
