<form class="form-horizontal form-register" method="post">
  <input type="hidden" name="_csrf" value="{{csrf}}"/>

  <div class="alert alert-danger"
      ng-show="messages">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div ng-repeat="message in messages">
      {{ message }}
    </div>
  </div>

  <h2>New account</h2>

  <div class="row form-group">
    <div class="col-md-12">
      <input type="text" name="username"
          class="form-control" placeholder="e-mail address"
          ng-model="formData.username"/>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <input type="password" name="password"
          class="form-control" placeholder="password"
          ng-model="formData.password"/>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <input type="password" name="passwordRepeat"
          class="form-control" placeholder="repeat password"
          ng-model="formData.passwordRepeat"/>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-6">
      <input type="text" name="firstName"
          class="form-control" placeholder="first name"
          ng-model="formData.firstName"/>
    </div>
    <div class="col-md-6">
      <input type="text" name="lastName"
          class="form-control" placeholder="last name"
          ng-model="formData.lastName"/>
    </div>
  </div>

  <hr>

  <p>
    <button class="btn btn-inverse btn-lg btn-register" type="submit"
        ng-click="register(formData)">
      Register
    </button>
    <a class="btn btn-default btn-lg btn-login"
        ng-href="#{{ $state.href('login') }}">
      Login
    </a>
  </p>
</form>
