<div class="container">
  <div class="content">
    <div class="page-header">
      <div class="pull-right">
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="value in _.range(1, 11)">
            <a href="" ng-click="setFetchInterval(1000 * value)">
              Fetch Interval: <strong>{{ value }}s</strong>
            </a>
          </li>
        </ul>
      </div>
      <h2>
        App Status
        <small>(updates every {{ fetchInterval / 1000 }}s)</small>
      </h2>
    </div>
    <div class="status">
      <table class="table table-striped">
        <thead>
          <th>Time</th>
          <th>PID</th>
          <th>RSS</th>
          <th>Heap Total</th>
          <th>Heap Used</th>
          <th>Uptime</th>
        </thead>
        <tbody>
          <tr ng-repeat="stat in status | limitTo: 30" class="animate-fade">
            <td>{{ stat.time | date: 'yyyy-MM-dd HH:mm:ss.sss' }}</td>
            <td>{{ stat.pid }}</td>
            <td>{{ stat.memory.rss / 1024 / 1024 | number: 2 }} MB</td>
            <td>{{ stat.memory.heapTotal / 1024 / 1024 | number: 2 }} MB</td>
            <td>{{ stat.memory.heapUsed / 1024 / 1024 | number: 2 }} MB</td>
            <td>{{ stat.uptime | number: 0 }}s</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
