<div class="page-header">
  <h2>
    {{ $state.current.data.title }}
    <small>{{ $state.current.data.menuTitle }}</small>
  </h2>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th>Email</th>
    <td>{{ user.email }}</td>
  </tr>
  <tr>
    <th>First Name</th>
    <td>{{ user.name.first }}</td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td>{{ user.name.last }}</td>
  </tr>
  <tr>
    <th>Roles</th>
    <td>
      <ul>
        <li>user</li>
        <li ng-repeat="role in user.roles">{{ role }}</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th>Joined</th>
    <td>{{ user.createdAt }}</td>
  </tr>
  <tr>
    <th>Updated</th>
    <td>{{ user.updatedAt }}</td>
  </tr>
  <tr>
    <th>Services</th>
    <td>
      <table class="table table-bordered table-hover">
        <tr>
          <th>Facebook</th>
          <td>
            <table class="table table-bordered table-condensed table-striped" ng-if="user.auth.facebook">
              <tr ng-repeat="(k, v) in user.auth.facebook.profile">
                <th>{{ k }}</th>
                <td>{{ v }}</td>
              </tr>
            </table>
            <a class="btn btn-facebook btn-sm" href="" ng-click="loginFacebook()" ng-if="!user.auth.facebook">
              <i class="fa fa-facebook"></i> | Connect with Facebook
            </a>
          </td>
        </tr>
        <tr>
          <th>Google</th>
          <td>
            <table class="table table-bordered table-condensed table-striped" ng-if="user.auth.google">
              <tr ng-repeat="(k, v) in user.auth.google.profile">
                <th>{{ k }}</th>
                <td>{{ v }}</td>
              </tr>
            </table>
            <a class="btn btn-google-plus btn-sm" href="" ng-click="loginGoogle()" ng-if="!user.auth.google">
              <i class="fa fa-google-plus"></i> | Connect with Google+
            </a>
          </td>
        </tr>
        <tr>
          <th>Twitter</th>
          <td>
            <table class="table table-bordered table-condensed table-striped" ng-if="user.auth.twitter">
              <tr ng-repeat="(k, v) in user.auth.twitter.profile">
                <th>{{ k }}</th>
                <td>{{ v }}</td>
              </tr>
            </table>
            <a class="btn btn-twitter btn-sm" href="" ng-click="loginTwitter()" ng-if="!user.auth.twitter">
              <i class="fa fa-twitter"></i> | Connect with Twitter
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
