<form name="loginForm" method="post" class="form-horizontal form-login" novalidate>
  <h2>
    <span class="glyphicon glyphicon-user"></span>
    Login
  </h2>

  <div class="row form-group" ng-class="{ 'has-error': showError && loginForm.username.$invalid }">
    <div class="col-md-12">
      <input type="email" name="username" class="form-control" placeholder="e-mail address" ng-model="formData.username" focus="focus.username" required/>
      <div ng-show="loginForm.username.$error.email" class="text-danger">Invalid email.</div>
    </div>
  </div>

  <div class="row form-group" ng-class="{ 'has-error': showError && loginForm.password.$invalid }">
    <div class="col-md-12">
      <input type="password" name="password" class="form-control" placeholder="password" ng-model="formData.password" ng-minlength="6" ng-maxlength="20" focus="focus.password" required/>
      <div ng-show="loginForm.password.$error.minlength || loginForm.password.$error.maxlength" class="text-danger">Password has to be between 6 and 20 characters.</div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="rememberMe" ng-model="form.rememberMe" ng-true-value="1" ng-false-value="0" focus="focus.rememberMe"/>
          Remember me
        </label>
      </div>
    </div>
  </div>

  <hr>

  <p>
    <button class="btn btn-inverse btn-lg btn-login" type="submit" ng-click="login(loginForm)">
      Login
    </button>
    <a class="btn btn-default btn-lg btn-register" ui-sref="app.register($stateParams)">
      Register
    </a>
  </p>

  <hr>

  <p>
    <a class="btn btn-facebook btn-block" href="" ng-click="loginFacebook()">
      <i class="fa fa-facebook"></i> | Connect with Facebook
    </a>
  </p>

  <p>
    <a class="btn btn-google-plus btn-block" href="" ng-click="loginGoogle()">
      <i class="fa fa-google-plus"></i> | Connect with Google+
    </a>
  </p>

  <p>
    <a class="btn btn-twitter btn-block" href="" ng-click="loginTwitter()">
      <i class="fa fa-twitter"></i> | Connect with Twitter
    </a>
  </p>
</form>
