<!-- nav begins -->
<div class="pure-g-r">
  <div class="pure-u-1">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <a href="//github.com/pilwon/ultimate-seed" class="pure-menu-heading">Ultimate-Seed</a>

      <ul>
        <li><a href="#">Angular</a></li>
        <li><a href="/express">Express</a></li>
        <li><a href="/account">Account</a></li>
        <li><a href="/logout" ng-show="user.name.full">Logout</a></li>
        <li><a href="/login" ng-hide="user.name.full">Login</a></li>
        <li><a href="/register" ng-hide="user.name.full">Register</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- nav ends -->
