<!-- nav begins -->
<div id="nav" class="navbar navbar-fixed-top" ng-controller="NavController">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="//github.com/pilwon/ultimate-seed">ultimate-seed</a>

    <div class="nav-collapse collapse">
      <!-- #nav-left BEGIN -->
      <ul class="nav navbar-nav">
        <li ng-class="{
          'active': $state.is('index')
        }">
          <a ng-href="#{{ $state.href('index') }}">Angular</a>
        </li>
      </ul>
      <!-- #nav-left END -->

      <!-- #nav-right BEGIN -->
      <ul class="nav navbar-nav pull-right">
        <li ng-if="user.name.full"
            ng-class="{
              'active': $state.is('account')
            }">
          <a ng-href="#{{ $state.href('account') }}">
            Logged in as <strong>{{ user.name.full }}</strong>
          </a>
        </li>
        <li ng-if="user.name.full">
          <a ng-href="/logout">Logout</a>
        </li>
        <li ng-if="!user.name.full"
            ng-class="{
              'active': $state.is('login')
            }">
          <a ng-href="#{{ $state.href('login') }}">Login</a>
        </li>
        <li ng-if="!user.name.full"
            ng-class="{
              'active': $state.is('register')
            }">
          <a ng-href="#{{ $state.href('register') }}">Register</a>
        </li>
      </ul>
      <!-- #nav-right END -->
    </div>
  </div>
</div>
<!-- nav ends -->
