<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="app"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="app"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="app"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="app"> <!--<![endif]-->

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title ng-bind="config.title"></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta property="og:title" content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:url" content="http://"/>
  <meta property="og:image" content="http://"/>
  <meta property="og:type" content="website"/>
  <link rel="stylesheet" href="/css/main.css?{{$$default$$}}"/>
  <script src="/js/vendor/modernizr.js?{{$$default$$}}"></script>
</head>

<body>
  <div id="spinner"></div>
  <div class="wrap">
    <nav id="nav" ui-view="nav"></nav>
    <div class="content">
      <div id="alert" ui-view="alert"></div>
      <div id="header" ui-view="header"></div>
      <div id="main" ui-view>{{{body}}}</div>
    </div>
  </div>
  <footer id="footer" ui-view="footer"></footer>

  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="/js/vendor/es5-shim.js?{{$$default$$}}"></script>
    <script src="/js/vendor/json3.js?{{$$default$$}}"></script>
  <![endif]-->

  <script>
    window.config = {
      catchAll: {{#if catchAll}}true{{else}}false{{/if}},
      user: {{#if user}}{{{user.safeJSON}}}{{else}}null{{/if}}
    };
  </script>

  <script src="/js/main.js?{{$$default$$}}"></script>

  {{>livereload}}
</body>

</html>
