/*
 * client/scss/app.scss
 */

@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/variables.scss';

.hero-unit {
  margin: 10px auto 30px auto;
  padding: 30px;
  width: 250px;
  border-radius: 30px;
}
