/*
 * client/scss/main.scss
 */

@import 'compass';

@import 'bootstrap/variables';
@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';

@import 'fontawesome/fontawesome';
@import 'social-buttons/social-buttons';

#content {
  margin: 70px auto 30px auto;

  .hero-unit {
    margin: 0 auto;
    padding: 20px 40px;
    width: 250px;
    border-radius: 30px;
  }
}
