<div ng-include="'js/views/_partials/nav.tmpl'"></div>

<div class="pure-g-r">
  <div class="pure-u-3-5">
    <h2>includes:</h2>
    <ul>
      <li ng-repeat="item in items">{{item}}</li>
    </ul>
  </div>
</div>
